<%- include('layout_main_up.ejs',{'subtitle': 'Expert'}); %>
   <div class="page-block" id="L7" style="display: block;">
      <div id="G65" class="game-panel pull-right">
         <div class="row">
            <a class="pull-left btn btn-default btn-sm game-panel-settings-btn" title="" data-original-title="Settings"
               href="/settings"><i class="fa fa-cog"></i></a>
         </div>
      </div>
   </div>
   <div class="page-block" id="G64" style="display: block;">
      <table class="wrapper-table">
         <tbody>
            <tr>
               <td>
                  <div id="W9">
                     <div id="game" class="wrapper noselect zoomable theatre-mode skin_hd"
                        style="filter: brightness(100%); width: 849px;">
                        <div class="zoomable" style="width: 819px; height: 17.875px;">
                           <div class="hd_wrapper-border-left-top wrapper-border-left-top zoomable"
                              style="width: 19.5px; height: 17.875px;"></div>
                           <div class="hd_wrapper-border-hor wrapper-border-hor zoomable"
                              style="width: 780px; height: 17.875px;"></div>
                           <div class="hd_wrapper-border-right-top wrapper-border-right-top zoomable"
                              style="width: 19.5px; height: 17.875px;"></div>
                        </div>
                        <div class="zoomable" style="width: 819px; height: 52px;">
                           <div class="hd_wrapper-border-vert wrapper-border-vert zoomable"
                              style="width: 19.5px; height: 52px;"></div>
                           <div id="top_area" class="top-area zoomable" style="width: 780px; height: 52px;">
                              <div class="zoomable" style="width: 780px; height: 4.875px;"></div>
                              <div>
                                 <div class="pull-left zoomable" style="width: 4.875px; height: 34.125px;"></div>
                                 <div class="pull-right zoomable" style="width: 4.875px; height: 34.125px;"></div>
                                 <div class="hd_numbers-panel numbers-panel pull-left zoomable"
                                    style="width: 66.625px; height: 40.625px;">
                                    <div class="zoomable" style="width: 66.625px; height: 3.25px;"></div>
                                    <div class="zoomable" style="width: 66.625px; height: 34.125px;">
                                       <div class="pull-left zoomable" style="width: 3.25px; height: 34.125px;"></div>
                                       <div id="top_area_mines_100"
                                          class="hd_top-area-num0 top-area-num pull-left zoomable"
                                          style="width: 17.875px; height: 34.125px;"></div>
                                       <div class="pull-left zoomable" style="width: 3.25px; height: 34.125px;"></div>
                                       <div id="top_area_mines_10"
                                          class="top-area-num pull-left zoomable hd_top-area-num9"
                                          style="width: 17.875px; height: 34.125px;"></div>
                                       <div class="pull-left zoomable" style="width: 3.25px; height: 34.125px;"></div>
                                       <div id="top_area_mines_1"
                                          class="top-area-num pull-left zoomable hd_top-area-num9"
                                          style="width: 17.875px; height: 34.125px;"></div>
                                    </div>
                                 </div>
                                 <div class="hd_numbers-panel numbers-panel pull-right zoomable"
                                    style="width: 66.625px; height: 40.625px;">
                                    <div class="zoomable" style="width: 66.625px; height: 3.25px;"></div>
                                    <div class="zoomable" style="width: 66.625px; height: 34.125px;">
                                       <div class="pull-left zoomable" style="width: 3.25px; height: 34.125px;"></div>
                                       <div id="top_area_time_100"
                                          class="hd_top-area-num0 top-area-num pull-left zoomable"
                                          style="width: 17.875px; height: 34.125px;"></div>
                                       <div class="pull-left zoomable" style="width: 3.25px; height: 34.125px;"></div>
                                       <div id="top_area_time_10"
                                          class="hd_top-area-num0 top-area-num pull-left zoomable"
                                          style="width: 17.875px; height: 34.125px;"></div>
                                       <div class="pull-left zoomable" style="width: 3.25px; height: 34.125px;"></div>
                                       <div id="top_area_time_1"
                                          class="hd_top-area-num0 top-area-num pull-left zoomable"
                                          style="width: 17.875px; height: 34.125px;"></div>
                                    </div>
                                 </div>
                                 <div class="top-area-center">
                                    <div id="top_area_face" class="top-area-face zoomable hd_top-area-face-unpressed"
                                       style="width: 42.25px; height: 42.25px;"></div>
                                 </div>
                              </div>
                           </div>
                           <div class="hd_wrapper-border-vert wrapper-border-vert zoomable"
                              style="width: 19.5px; height: 52px;"></div>
                        </div>
                        <div class="zoomable" style="width: 819px; height: 17.875px;">
                           <div class="hd_wrapper-border-t-left wrapper-border-t-left zoomable"
                              style="width: 19.5px; height: 17.875px;"></div>
                           <div class="hd_wrapper-border-hor wrapper-border-hor zoomable"
                              style="width: 780px; height: 17.875px;"></div>
                           <div class="hd_wrapper-border-t-right wrapper-border-t-right zoomable"
                              style="width: 19.5px; height: 17.875px;"></div>
                        </div>
                        <div class="zoomable" style="width: 819px; height: 416px;">
                           <div class="hd_wrapper-border-vert wrapper-border-vert zoomable"
                              style="width: 19.5px; height: 416px;"></div>
                           <div id="A43" class="pull-left">
                              <div id="cell_0_0" class="cell size26 hd_closed" data-x="0" data-y="0"></div>
                              <div id="cell_1_0" class="cell size26 hd_closed" data-x="1" data-y="0"></div>
                              <div id="cell_2_0" class="cell size26 hd_closed" data-x="2" data-y="0"></div>
                              <div id="cell_3_0" class="cell size26 hd_closed" data-x="3" data-y="0"></div>
                              <div id="cell_4_0" class="cell size26 hd_closed" data-x="4" data-y="0"></div>
                              <div id="cell_5_0" class="cell size26 hd_closed" data-x="5" data-y="0"></div>
                              <div id="cell_6_0" class="cell size26 hd_closed" data-x="6" data-y="0"></div>
                              <div id="cell_7_0" class="cell size26 hd_closed" data-x="7" data-y="0"></div>
                              <div id="cell_8_0" class="cell size26 hd_closed" data-x="8" data-y="0"></div>
                              <div id="cell_9_0" class="cell size26 hd_closed" data-x="9" data-y="0"></div>
                              <div id="cell_10_0" class="cell size26 hd_closed" data-x="10" data-y="0"></div>
                              <div id="cell_11_0" class="cell size26 hd_closed" data-x="11" data-y="0"></div>
                              <div id="cell_12_0" class="cell size26 hd_closed" data-x="12" data-y="0"></div>
                              <div id="cell_13_0" class="cell size26 hd_closed" data-x="13" data-y="0"></div>
                              <div id="cell_14_0" class="cell size26 hd_closed" data-x="14" data-y="0"></div>
                              <div id="cell_15_0" class="cell size26 hd_closed" data-x="15" data-y="0"></div>
                              <div id="cell_16_0" class="cell size26 hd_closed" data-x="16" data-y="0"></div>
                              <div id="cell_17_0" class="cell size26 hd_closed" data-x="17" data-y="0"></div>
                              <div id="cell_18_0" class="cell size26 hd_closed" data-x="18" data-y="0"></div>
                              <div id="cell_19_0" class="cell size26 hd_closed" data-x="19" data-y="0"></div>
                              <div id="cell_20_0" class="cell size26 hd_closed" data-x="20" data-y="0"></div>
                              <div id="cell_21_0" class="cell size26 hd_closed" data-x="21" data-y="0"></div>
                              <div id="cell_22_0" class="cell size26 hd_closed" data-x="22" data-y="0"></div>
                              <div id="cell_23_0" class="cell size26 hd_closed" data-x="23" data-y="0"></div>
                              <div id="cell_24_0" class="cell size26 hd_closed" data-x="24" data-y="0"></div>
                              <div id="cell_25_0" class="cell size26 hd_closed" data-x="25" data-y="0"></div>
                              <div id="cell_26_0" class="cell size26 hd_closed" data-x="26" data-y="0"></div>
                              <div id="cell_27_0" class="cell size26 hd_closed" data-x="27" data-y="0"></div>
                              <div id="cell_28_0" class="cell size26 hd_closed" data-x="28" data-y="0"></div>
                              <div id="cell_29_0" class="cell size26 hd_closed" data-x="29" data-y="0"></div>
                              <div class="clear"></div>
                              <div id="cell_0_1" class="cell size26 hd_closed" data-x="0" data-y="1"></div>
                              <div id="cell_1_1" class="cell size26 hd_closed" data-x="1" data-y="1"></div>
                              <div id="cell_2_1" class="cell size26 hd_closed" data-x="2" data-y="1"></div>
                              <div id="cell_3_1" class="cell size26 hd_closed" data-x="3" data-y="1"></div>
                              <div id="cell_4_1" class="cell size26 hd_closed" data-x="4" data-y="1"></div>
                              <div id="cell_5_1" class="cell size26 hd_closed" data-x="5" data-y="1"></div>
                              <div id="cell_6_1" class="cell size26 hd_closed" data-x="6" data-y="1"></div>
                              <div id="cell_7_1" class="cell size26 hd_closed" data-x="7" data-y="1"></div>
                              <div id="cell_8_1" class="cell size26 hd_closed" data-x="8" data-y="1"></div>
                              <div id="cell_9_1" class="cell size26 hd_closed" data-x="9" data-y="1"></div>
                              <div id="cell_10_1" class="cell size26 hd_closed" data-x="10" data-y="1"></div>
                              <div id="cell_11_1" class="cell size26 hd_closed" data-x="11" data-y="1"></div>
                              <div id="cell_12_1" class="cell size26 hd_closed" data-x="12" data-y="1"></div>
                              <div id="cell_13_1" class="cell size26 hd_closed" data-x="13" data-y="1"></div>
                              <div id="cell_14_1" class="cell size26 hd_closed" data-x="14" data-y="1"></div>
                              <div id="cell_15_1" class="cell size26 hd_closed" data-x="15" data-y="1"></div>
                              <div id="cell_16_1" class="cell size26 hd_closed" data-x="16" data-y="1"></div>
                              <div id="cell_17_1" class="cell size26 hd_closed" data-x="17" data-y="1"></div>
                              <div id="cell_18_1" class="cell size26 hd_closed" data-x="18" data-y="1"></div>
                              <div id="cell_19_1" class="cell size26 hd_closed" data-x="19" data-y="1"></div>
                              <div id="cell_20_1" class="cell size26 hd_closed" data-x="20" data-y="1"></div>
                              <div id="cell_21_1" class="cell size26 hd_closed" data-x="21" data-y="1"></div>
                              <div id="cell_22_1" class="cell size26 hd_closed" data-x="22" data-y="1"></div>
                              <div id="cell_23_1" class="cell size26 hd_closed" data-x="23" data-y="1"></div>
                              <div id="cell_24_1" class="cell size26 hd_closed" data-x="24" data-y="1"></div>
                              <div id="cell_25_1" class="cell size26 hd_closed" data-x="25" data-y="1"></div>
                              <div id="cell_26_1" class="cell size26 hd_closed" data-x="26" data-y="1"></div>
                              <div id="cell_27_1" class="cell size26 hd_closed" data-x="27" data-y="1"></div>
                              <div id="cell_28_1" class="cell size26 hd_closed" data-x="28" data-y="1"></div>
                              <div id="cell_29_1" class="cell size26 hd_closed" data-x="29" data-y="1"></div>
                              <div class="clear"></div>
                              <div id="cell_0_2" class="cell size26 hd_closed" data-x="0" data-y="2"></div>
                              <div id="cell_1_2" class="cell size26 hd_closed" data-x="1" data-y="2"></div>
                              <div id="cell_2_2" class="cell size26 hd_closed" data-x="2" data-y="2"></div>
                              <div id="cell_3_2" class="cell size26 hd_closed" data-x="3" data-y="2"></div>
                              <div id="cell_4_2" class="cell size26 hd_closed" data-x="4" data-y="2"></div>
                              <div id="cell_5_2" class="cell size26 hd_closed" data-x="5" data-y="2"></div>
                              <div id="cell_6_2" class="cell size26 hd_closed" data-x="6" data-y="2"></div>
                              <div id="cell_7_2" class="cell size26 hd_closed" data-x="7" data-y="2"></div>
                              <div id="cell_8_2" class="cell size26 hd_closed" data-x="8" data-y="2"></div>
                              <div id="cell_9_2" class="cell size26 hd_closed" data-x="9" data-y="2"></div>
                              <div id="cell_10_2" class="cell size26 hd_closed" data-x="10" data-y="2"></div>
                              <div id="cell_11_2" class="cell size26 hd_closed" data-x="11" data-y="2"></div>
                              <div id="cell_12_2" class="cell size26 hd_closed" data-x="12" data-y="2"></div>
                              <div id="cell_13_2" class="cell size26 hd_closed" data-x="13" data-y="2"></div>
                              <div id="cell_14_2" class="cell size26 hd_closed" data-x="14" data-y="2"></div>
                              <div id="cell_15_2" class="cell size26 hd_closed" data-x="15" data-y="2"></div>
                              <div id="cell_16_2" class="cell size26 hd_closed" data-x="16" data-y="2"></div>
                              <div id="cell_17_2" class="cell size26 hd_closed" data-x="17" data-y="2"></div>
                              <div id="cell_18_2" class="cell size26 hd_closed" data-x="18" data-y="2"></div>
                              <div id="cell_19_2" class="cell size26 hd_closed" data-x="19" data-y="2"></div>
                              <div id="cell_20_2" class="cell size26 hd_closed" data-x="20" data-y="2"></div>
                              <div id="cell_21_2" class="cell size26 hd_closed" data-x="21" data-y="2"></div>
                              <div id="cell_22_2" class="cell size26 hd_closed" data-x="22" data-y="2"></div>
                              <div id="cell_23_2" class="cell size26 hd_closed" data-x="23" data-y="2"></div>
                              <div id="cell_24_2" class="cell size26 hd_closed" data-x="24" data-y="2"></div>
                              <div id="cell_25_2" class="cell size26 hd_closed" data-x="25" data-y="2"></div>
                              <div id="cell_26_2" class="cell size26 hd_closed" data-x="26" data-y="2"></div>
                              <div id="cell_27_2" class="cell size26 hd_closed" data-x="27" data-y="2"></div>
                              <div id="cell_28_2" class="cell size26 hd_closed" data-x="28" data-y="2"></div>
                              <div id="cell_29_2" class="cell size26 hd_closed" data-x="29" data-y="2"></div>
                              <div class="clear"></div>
                              <div id="cell_0_3" class="cell size26 hd_closed" data-x="0" data-y="3"></div>
                              <div id="cell_1_3" class="cell size26 hd_closed" data-x="1" data-y="3"></div>
                              <div id="cell_2_3" class="cell size26 hd_closed" data-x="2" data-y="3"></div>
                              <div id="cell_3_3" class="cell size26 hd_closed" data-x="3" data-y="3"></div>
                              <div id="cell_4_3" class="cell size26 hd_closed" data-x="4" data-y="3"></div>
                              <div id="cell_5_3" class="cell size26 hd_closed" data-x="5" data-y="3"></div>
                              <div id="cell_6_3" class="cell size26 hd_closed" data-x="6" data-y="3"></div>
                              <div id="cell_7_3" class="cell size26 hd_closed" data-x="7" data-y="3"></div>
                              <div id="cell_8_3" class="cell size26 hd_closed" data-x="8" data-y="3"></div>
                              <div id="cell_9_3" class="cell size26 hd_closed" data-x="9" data-y="3"></div>
                              <div id="cell_10_3" class="cell size26 hd_closed" data-x="10" data-y="3"></div>
                              <div id="cell_11_3" class="cell size26 hd_closed" data-x="11" data-y="3"></div>
                              <div id="cell_12_3" class="cell size26 hd_closed" data-x="12" data-y="3"></div>
                              <div id="cell_13_3" class="cell size26 hd_closed" data-x="13" data-y="3"></div>
                              <div id="cell_14_3" class="cell size26 hd_closed" data-x="14" data-y="3"></div>
                              <div id="cell_15_3" class="cell size26 hd_closed" data-x="15" data-y="3"></div>
                              <div id="cell_16_3" class="cell size26 hd_closed" data-x="16" data-y="3"></div>
                              <div id="cell_17_3" class="cell size26 hd_closed" data-x="17" data-y="3"></div>
                              <div id="cell_18_3" class="cell size26 hd_closed" data-x="18" data-y="3"></div>
                              <div id="cell_19_3" class="cell size26 hd_closed" data-x="19" data-y="3"></div>
                              <div id="cell_20_3" class="cell size26 hd_closed" data-x="20" data-y="3"></div>
                              <div id="cell_21_3" class="cell size26 hd_closed" data-x="21" data-y="3"></div>
                              <div id="cell_22_3" class="cell size26 hd_closed" data-x="22" data-y="3"></div>
                              <div id="cell_23_3" class="cell size26 hd_closed" data-x="23" data-y="3"></div>
                              <div id="cell_24_3" class="cell size26 hd_closed" data-x="24" data-y="3"></div>
                              <div id="cell_25_3" class="cell size26 hd_closed" data-x="25" data-y="3"></div>
                              <div id="cell_26_3" class="cell size26 hd_closed" data-x="26" data-y="3"></div>
                              <div id="cell_27_3" class="cell size26 hd_closed" data-x="27" data-y="3"></div>
                              <div id="cell_28_3" class="cell size26 hd_closed" data-x="28" data-y="3"></div>
                              <div id="cell_29_3" class="cell size26 hd_closed" data-x="29" data-y="3"></div>
                              <div class="clear"></div>
                              <div id="cell_0_4" class="cell size26 hd_closed" data-x="0" data-y="4"></div>
                              <div id="cell_1_4" class="cell size26 hd_closed" data-x="1" data-y="4"></div>
                              <div id="cell_2_4" class="cell size26 hd_closed" data-x="2" data-y="4"></div>
                              <div id="cell_3_4" class="cell size26 hd_closed" data-x="3" data-y="4"></div>
                              <div id="cell_4_4" class="cell size26 hd_closed" data-x="4" data-y="4"></div>
                              <div id="cell_5_4" class="cell size26 hd_closed" data-x="5" data-y="4"></div>
                              <div id="cell_6_4" class="cell size26 hd_closed" data-x="6" data-y="4"></div>
                              <div id="cell_7_4" class="cell size26 hd_closed" data-x="7" data-y="4"></div>
                              <div id="cell_8_4" class="cell size26 hd_closed" data-x="8" data-y="4"></div>
                              <div id="cell_9_4" class="cell size26 hd_closed" data-x="9" data-y="4"></div>
                              <div id="cell_10_4" class="cell size26 hd_closed" data-x="10" data-y="4"></div>
                              <div id="cell_11_4" class="cell size26 hd_closed" data-x="11" data-y="4"></div>
                              <div id="cell_12_4" class="cell size26 hd_closed" data-x="12" data-y="4"></div>
                              <div id="cell_13_4" class="cell size26 hd_closed" data-x="13" data-y="4"></div>
                              <div id="cell_14_4" class="cell size26 hd_closed" data-x="14" data-y="4"></div>
                              <div id="cell_15_4" class="cell size26 hd_closed" data-x="15" data-y="4"></div>
                              <div id="cell_16_4" class="cell size26 hd_closed" data-x="16" data-y="4"></div>
                              <div id="cell_17_4" class="cell size26 hd_closed" data-x="17" data-y="4"></div>
                              <div id="cell_18_4" class="cell size26 hd_closed" data-x="18" data-y="4"></div>
                              <div id="cell_19_4" class="cell size26 hd_closed" data-x="19" data-y="4"></div>
                              <div id="cell_20_4" class="cell size26 hd_closed" data-x="20" data-y="4"></div>
                              <div id="cell_21_4" class="cell size26 hd_closed" data-x="21" data-y="4"></div>
                              <div id="cell_22_4" class="cell size26 hd_closed" data-x="22" data-y="4"></div>
                              <div id="cell_23_4" class="cell size26 hd_closed" data-x="23" data-y="4"></div>
                              <div id="cell_24_4" class="cell size26 hd_closed" data-x="24" data-y="4"></div>
                              <div id="cell_25_4" class="cell size26 hd_closed" data-x="25" data-y="4"></div>
                              <div id="cell_26_4" class="cell size26 hd_closed" data-x="26" data-y="4"></div>
                              <div id="cell_27_4" class="cell size26 hd_closed" data-x="27" data-y="4"></div>
                              <div id="cell_28_4" class="cell size26 hd_closed" data-x="28" data-y="4"></div>
                              <div id="cell_29_4" class="cell size26 hd_closed" data-x="29" data-y="4"></div>
                              <div class="clear"></div>
                              <div id="cell_0_5" class="cell size26 hd_closed" data-x="0" data-y="5"></div>
                              <div id="cell_1_5" class="cell size26 hd_closed" data-x="1" data-y="5"></div>
                              <div id="cell_2_5" class="cell size26 hd_closed" data-x="2" data-y="5"></div>
                              <div id="cell_3_5" class="cell size26 hd_closed" data-x="3" data-y="5"></div>
                              <div id="cell_4_5" class="cell size26 hd_closed" data-x="4" data-y="5"></div>
                              <div id="cell_5_5" class="cell size26 hd_closed" data-x="5" data-y="5"></div>
                              <div id="cell_6_5" class="cell size26 hd_closed" data-x="6" data-y="5"></div>
                              <div id="cell_7_5" class="cell size26 hd_closed" data-x="7" data-y="5"></div>
                              <div id="cell_8_5" class="cell size26 hd_closed" data-x="8" data-y="5"></div>
                              <div id="cell_9_5" class="cell size26 hd_closed" data-x="9" data-y="5"></div>
                              <div id="cell_10_5" class="cell size26 hd_closed" data-x="10" data-y="5"></div>
                              <div id="cell_11_5" class="cell size26 hd_closed" data-x="11" data-y="5"></div>
                              <div id="cell_12_5" class="cell size26 hd_closed" data-x="12" data-y="5"></div>
                              <div id="cell_13_5" class="cell size26 hd_closed" data-x="13" data-y="5"></div>
                              <div id="cell_14_5" class="cell size26 hd_closed" data-x="14" data-y="5"></div>
                              <div id="cell_15_5" class="cell size26 hd_closed" data-x="15" data-y="5"></div>
                              <div id="cell_16_5" class="cell size26 hd_closed" data-x="16" data-y="5"></div>
                              <div id="cell_17_5" class="cell size26 hd_closed" data-x="17" data-y="5"></div>
                              <div id="cell_18_5" class="cell size26 hd_closed" data-x="18" data-y="5"></div>
                              <div id="cell_19_5" class="cell size26 hd_closed" data-x="19" data-y="5"></div>
                              <div id="cell_20_5" class="cell size26 hd_closed" data-x="20" data-y="5"></div>
                              <div id="cell_21_5" class="cell size26 hd_closed" data-x="21" data-y="5"></div>
                              <div id="cell_22_5" class="cell size26 hd_closed" data-x="22" data-y="5"></div>
                              <div id="cell_23_5" class="cell size26 hd_closed" data-x="23" data-y="5"></div>
                              <div id="cell_24_5" class="cell size26 hd_closed" data-x="24" data-y="5"></div>
                              <div id="cell_25_5" class="cell size26 hd_closed" data-x="25" data-y="5"></div>
                              <div id="cell_26_5" class="cell size26 hd_closed" data-x="26" data-y="5"></div>
                              <div id="cell_27_5" class="cell size26 hd_closed" data-x="27" data-y="5"></div>
                              <div id="cell_28_5" class="cell size26 hd_closed" data-x="28" data-y="5"></div>
                              <div id="cell_29_5" class="cell size26 hd_closed" data-x="29" data-y="5"></div>
                              <div class="clear"></div>
                              <div id="cell_0_6" class="cell size26 hd_closed" data-x="0" data-y="6"></div>
                              <div id="cell_1_6" class="cell size26 hd_closed" data-x="1" data-y="6"></div>
                              <div id="cell_2_6" class="cell size26 hd_closed" data-x="2" data-y="6"></div>
                              <div id="cell_3_6" class="cell size26 hd_closed" data-x="3" data-y="6"></div>
                              <div id="cell_4_6" class="cell size26 hd_closed" data-x="4" data-y="6"></div>
                              <div id="cell_5_6" class="cell size26 hd_closed" data-x="5" data-y="6"></div>
                              <div id="cell_6_6" class="cell size26 hd_closed" data-x="6" data-y="6"></div>
                              <div id="cell_7_6" class="cell size26 hd_closed" data-x="7" data-y="6"></div>
                              <div id="cell_8_6" class="cell size26 hd_closed" data-x="8" data-y="6"></div>
                              <div id="cell_9_6" class="cell size26 hd_closed" data-x="9" data-y="6"></div>
                              <div id="cell_10_6" class="cell size26 hd_closed" data-x="10" data-y="6"></div>
                              <div id="cell_11_6" class="cell size26 hd_closed" data-x="11" data-y="6"></div>
                              <div id="cell_12_6" class="cell size26 hd_closed" data-x="12" data-y="6"></div>
                              <div id="cell_13_6" class="cell size26 hd_closed" data-x="13" data-y="6"></div>
                              <div id="cell_14_6" class="cell size26 hd_closed" data-x="14" data-y="6"></div>
                              <div id="cell_15_6" class="cell size26 hd_closed" data-x="15" data-y="6"></div>
                              <div id="cell_16_6" class="cell size26 hd_closed" data-x="16" data-y="6"></div>
                              <div id="cell_17_6" class="cell size26 hd_closed" data-x="17" data-y="6"></div>
                              <div id="cell_18_6" class="cell size26 hd_closed" data-x="18" data-y="6"></div>
                              <div id="cell_19_6" class="cell size26 hd_closed" data-x="19" data-y="6"></div>
                              <div id="cell_20_6" class="cell size26 hd_closed" data-x="20" data-y="6"></div>
                              <div id="cell_21_6" class="cell size26 hd_closed" data-x="21" data-y="6"></div>
                              <div id="cell_22_6" class="cell size26 hd_closed" data-x="22" data-y="6"></div>
                              <div id="cell_23_6" class="cell size26 hd_closed" data-x="23" data-y="6"></div>
                              <div id="cell_24_6" class="cell size26 hd_closed" data-x="24" data-y="6"></div>
                              <div id="cell_25_6" class="cell size26 hd_closed" data-x="25" data-y="6"></div>
                              <div id="cell_26_6" class="cell size26 hd_closed" data-x="26" data-y="6"></div>
                              <div id="cell_27_6" class="cell size26 hd_closed" data-x="27" data-y="6"></div>
                              <div id="cell_28_6" class="cell size26 hd_closed" data-x="28" data-y="6"></div>
                              <div id="cell_29_6" class="cell size26 hd_closed" data-x="29" data-y="6"></div>
                              <div class="clear"></div>
                              <div id="cell_0_7" class="cell size26 hd_closed" data-x="0" data-y="7"></div>
                              <div id="cell_1_7" class="cell size26 hd_closed" data-x="1" data-y="7"></div>
                              <div id="cell_2_7" class="cell size26 hd_closed" data-x="2" data-y="7"></div>
                              <div id="cell_3_7" class="cell size26 hd_closed" data-x="3" data-y="7"></div>
                              <div id="cell_4_7" class="cell size26 hd_closed" data-x="4" data-y="7"></div>
                              <div id="cell_5_7" class="cell size26 hd_closed" data-x="5" data-y="7"></div>
                              <div id="cell_6_7" class="cell size26 hd_closed" data-x="6" data-y="7"></div>
                              <div id="cell_7_7" class="cell size26 hd_closed" data-x="7" data-y="7"></div>
                              <div id="cell_8_7" class="cell size26 hd_closed" data-x="8" data-y="7"></div>
                              <div id="cell_9_7" class="cell size26 hd_closed" data-x="9" data-y="7"></div>
                              <div id="cell_10_7" class="cell size26 hd_closed" data-x="10" data-y="7"></div>
                              <div id="cell_11_7" class="cell size26 hd_closed" data-x="11" data-y="7"></div>
                              <div id="cell_12_7" class="cell size26 hd_closed" data-x="12" data-y="7"></div>
                              <div id="cell_13_7" class="cell size26 hd_closed" data-x="13" data-y="7"></div>
                              <div id="cell_14_7" class="cell size26 hd_closed" data-x="14" data-y="7"></div>
                              <div id="cell_15_7" class="cell size26 hd_closed" data-x="15" data-y="7"></div>
                              <div id="cell_16_7" class="cell size26 hd_closed" data-x="16" data-y="7"></div>
                              <div id="cell_17_7" class="cell size26 hd_closed" data-x="17" data-y="7"></div>
                              <div id="cell_18_7" class="cell size26 hd_closed" data-x="18" data-y="7"></div>
                              <div id="cell_19_7" class="cell size26 hd_closed" data-x="19" data-y="7"></div>
                              <div id="cell_20_7" class="cell size26 hd_closed" data-x="20" data-y="7"></div>
                              <div id="cell_21_7" class="cell size26 hd_closed" data-x="21" data-y="7"></div>
                              <div id="cell_22_7" class="cell size26 hd_closed" data-x="22" data-y="7"></div>
                              <div id="cell_23_7" class="cell size26 hd_closed" data-x="23" data-y="7"></div>
                              <div id="cell_24_7" class="cell size26 hd_closed" data-x="24" data-y="7"></div>
                              <div id="cell_25_7" class="cell size26 hd_closed" data-x="25" data-y="7"></div>
                              <div id="cell_26_7" class="cell size26 hd_closed" data-x="26" data-y="7"></div>
                              <div id="cell_27_7" class="cell size26 hd_closed" data-x="27" data-y="7"></div>
                              <div id="cell_28_7" class="cell size26 hd_closed" data-x="28" data-y="7"></div>
                              <div id="cell_29_7" class="cell size26 hd_closed" data-x="29" data-y="7"></div>
                              <div class="clear"></div>
                              <div id="cell_0_8" class="cell size26 hd_closed" data-x="0" data-y="8"></div>
                              <div id="cell_1_8" class="cell size26 hd_closed" data-x="1" data-y="8"></div>
                              <div id="cell_2_8" class="cell size26 hd_closed" data-x="2" data-y="8"></div>
                              <div id="cell_3_8" class="cell size26 hd_closed" data-x="3" data-y="8"></div>
                              <div id="cell_4_8" class="cell size26 hd_closed" data-x="4" data-y="8"></div>
                              <div id="cell_5_8" class="cell size26 hd_closed" data-x="5" data-y="8"></div>
                              <div id="cell_6_8" class="cell size26 hd_closed" data-x="6" data-y="8"></div>
                              <div id="cell_7_8" class="cell size26 hd_closed" data-x="7" data-y="8"></div>
                              <div id="cell_8_8" class="cell size26 hd_closed" data-x="8" data-y="8"></div>
                              <div id="cell_9_8" class="cell size26 hd_closed" data-x="9" data-y="8"></div>
                              <div id="cell_10_8" class="cell size26 hd_closed" data-x="10" data-y="8"></div>
                              <div id="cell_11_8" class="cell size26 hd_closed" data-x="11" data-y="8"></div>
                              <div id="cell_12_8" class="cell size26 hd_closed" data-x="12" data-y="8"></div>
                              <div id="cell_13_8" class="cell size26 hd_closed" data-x="13" data-y="8"></div>
                              <div id="cell_14_8" class="cell size26 hd_closed" data-x="14" data-y="8"></div>
                              <div id="cell_15_8" class="cell size26 hd_closed" data-x="15" data-y="8"></div>
                              <div id="cell_16_8" class="cell size26 hd_closed" data-x="16" data-y="8"></div>
                              <div id="cell_17_8" class="cell size26 hd_closed" data-x="17" data-y="8"></div>
                              <div id="cell_18_8" class="cell size26 hd_closed" data-x="18" data-y="8"></div>
                              <div id="cell_19_8" class="cell size26 hd_closed" data-x="19" data-y="8"></div>
                              <div id="cell_20_8" class="cell size26 hd_closed" data-x="20" data-y="8"></div>
                              <div id="cell_21_8" class="cell size26 hd_closed" data-x="21" data-y="8"></div>
                              <div id="cell_22_8" class="cell size26 hd_closed" data-x="22" data-y="8"></div>
                              <div id="cell_23_8" class="cell size26 hd_closed" data-x="23" data-y="8"></div>
                              <div id="cell_24_8" class="cell size26 hd_closed" data-x="24" data-y="8"></div>
                              <div id="cell_25_8" class="cell size26 hd_closed" data-x="25" data-y="8"></div>
                              <div id="cell_26_8" class="cell size26 hd_closed" data-x="26" data-y="8"></div>
                              <div id="cell_27_8" class="cell size26 hd_closed" data-x="27" data-y="8"></div>
                              <div id="cell_28_8" class="cell size26 hd_closed" data-x="28" data-y="8"></div>
                              <div id="cell_29_8" class="cell size26 hd_closed" data-x="29" data-y="8"></div>
                              <div class="clear"></div>
                              <div id="cell_0_9" class="cell size26 hd_closed" data-x="0" data-y="9"></div>
                              <div id="cell_1_9" class="cell size26 hd_closed" data-x="1" data-y="9"></div>
                              <div id="cell_2_9" class="cell size26 hd_closed" data-x="2" data-y="9"></div>
                              <div id="cell_3_9" class="cell size26 hd_closed" data-x="3" data-y="9"></div>
                              <div id="cell_4_9" class="cell size26 hd_closed" data-x="4" data-y="9"></div>
                              <div id="cell_5_9" class="cell size26 hd_closed" data-x="5" data-y="9"></div>
                              <div id="cell_6_9" class="cell size26 hd_closed" data-x="6" data-y="9"></div>
                              <div id="cell_7_9" class="cell size26 hd_closed" data-x="7" data-y="9"></div>
                              <div id="cell_8_9" class="cell size26 hd_closed" data-x="8" data-y="9"></div>
                              <div id="cell_9_9" class="cell size26 hd_closed" data-x="9" data-y="9"></div>
                              <div id="cell_10_9" class="cell size26 hd_closed" data-x="10" data-y="9"></div>
                              <div id="cell_11_9" class="cell size26 hd_closed" data-x="11" data-y="9"></div>
                              <div id="cell_12_9" class="cell size26 hd_closed" data-x="12" data-y="9"></div>
                              <div id="cell_13_9" class="cell size26 hd_closed" data-x="13" data-y="9"></div>
                              <div id="cell_14_9" class="cell size26 hd_closed" data-x="14" data-y="9"></div>
                              <div id="cell_15_9" class="cell size26 hd_closed" data-x="15" data-y="9"></div>
                              <div id="cell_16_9" class="cell size26 hd_closed" data-x="16" data-y="9"></div>
                              <div id="cell_17_9" class="cell size26 hd_closed" data-x="17" data-y="9"></div>
                              <div id="cell_18_9" class="cell size26 hd_closed" data-x="18" data-y="9"></div>
                              <div id="cell_19_9" class="cell size26 hd_closed" data-x="19" data-y="9"></div>
                              <div id="cell_20_9" class="cell size26 hd_closed" data-x="20" data-y="9"></div>
                              <div id="cell_21_9" class="cell size26 hd_closed" data-x="21" data-y="9"></div>
                              <div id="cell_22_9" class="cell size26 hd_closed" data-x="22" data-y="9"></div>
                              <div id="cell_23_9" class="cell size26 hd_closed" data-x="23" data-y="9"></div>
                              <div id="cell_24_9" class="cell size26 hd_closed" data-x="24" data-y="9"></div>
                              <div id="cell_25_9" class="cell size26 hd_closed" data-x="25" data-y="9"></div>
                              <div id="cell_26_9" class="cell size26 hd_closed" data-x="26" data-y="9"></div>
                              <div id="cell_27_9" class="cell size26 hd_closed" data-x="27" data-y="9"></div>
                              <div id="cell_28_9" class="cell size26 hd_closed" data-x="28" data-y="9"></div>
                              <div id="cell_29_9" class="cell size26 hd_closed" data-x="29" data-y="9"></div>
                              <div class="clear"></div>
                              <div id="cell_0_10" class="cell size26 hd_closed" data-x="0" data-y="10"></div>
                              <div id="cell_1_10" class="cell size26 hd_closed" data-x="1" data-y="10"></div>
                              <div id="cell_2_10" class="cell size26 hd_closed" data-x="2" data-y="10"></div>
                              <div id="cell_3_10" class="cell size26 hd_closed" data-x="3" data-y="10"></div>
                              <div id="cell_4_10" class="cell size26 hd_closed" data-x="4" data-y="10"></div>
                              <div id="cell_5_10" class="cell size26 hd_closed" data-x="5" data-y="10"></div>
                              <div id="cell_6_10" class="cell size26 hd_closed" data-x="6" data-y="10"></div>
                              <div id="cell_7_10" class="cell size26 hd_closed" data-x="7" data-y="10"></div>
                              <div id="cell_8_10" class="cell size26 hd_closed" data-x="8" data-y="10"></div>
                              <div id="cell_9_10" class="cell size26 hd_closed" data-x="9" data-y="10"></div>
                              <div id="cell_10_10" class="cell size26 hd_closed" data-x="10" data-y="10"></div>
                              <div id="cell_11_10" class="cell size26 hd_closed" data-x="11" data-y="10"></div>
                              <div id="cell_12_10" class="cell size26 hd_closed" data-x="12" data-y="10"></div>
                              <div id="cell_13_10" class="cell size26 hd_closed" data-x="13" data-y="10"></div>
                              <div id="cell_14_10" class="cell size26 hd_closed" data-x="14" data-y="10"></div>
                              <div id="cell_15_10" class="cell size26 hd_closed" data-x="15" data-y="10"></div>
                              <div id="cell_16_10" class="cell size26 hd_closed" data-x="16" data-y="10"></div>
                              <div id="cell_17_10" class="cell size26 hd_closed" data-x="17" data-y="10"></div>
                              <div id="cell_18_10" class="cell size26 hd_closed" data-x="18" data-y="10"></div>
                              <div id="cell_19_10" class="cell size26 hd_closed" data-x="19" data-y="10"></div>
                              <div id="cell_20_10" class="cell size26 hd_closed" data-x="20" data-y="10"></div>
                              <div id="cell_21_10" class="cell size26 hd_closed" data-x="21" data-y="10"></div>
                              <div id="cell_22_10" class="cell size26 hd_closed" data-x="22" data-y="10"></div>
                              <div id="cell_23_10" class="cell size26 hd_closed" data-x="23" data-y="10"></div>
                              <div id="cell_24_10" class="cell size26 hd_closed" data-x="24" data-y="10"></div>
                              <div id="cell_25_10" class="cell size26 hd_closed" data-x="25" data-y="10"></div>
                              <div id="cell_26_10" class="cell size26 hd_closed" data-x="26" data-y="10"></div>
                              <div id="cell_27_10" class="cell size26 hd_closed" data-x="27" data-y="10"></div>
                              <div id="cell_28_10" class="cell size26 hd_closed" data-x="28" data-y="10"></div>
                              <div id="cell_29_10" class="cell size26 hd_closed" data-x="29" data-y="10"></div>
                              <div class="clear"></div>
                              <div id="cell_0_11" class="cell size26 hd_closed" data-x="0" data-y="11"></div>
                              <div id="cell_1_11" class="cell size26 hd_closed" data-x="1" data-y="11"></div>
                              <div id="cell_2_11" class="cell size26 hd_closed" data-x="2" data-y="11"></div>
                              <div id="cell_3_11" class="cell size26 hd_closed" data-x="3" data-y="11"></div>
                              <div id="cell_4_11" class="cell size26 hd_closed" data-x="4" data-y="11"></div>
                              <div id="cell_5_11" class="cell size26 hd_closed" data-x="5" data-y="11"></div>
                              <div id="cell_6_11" class="cell size26 hd_closed" data-x="6" data-y="11"></div>
                              <div id="cell_7_11" class="cell size26 hd_closed" data-x="7" data-y="11"></div>
                              <div id="cell_8_11" class="cell size26 hd_closed" data-x="8" data-y="11"></div>
                              <div id="cell_9_11" class="cell size26 hd_closed" data-x="9" data-y="11"></div>
                              <div id="cell_10_11" class="cell size26 hd_closed" data-x="10" data-y="11"></div>
                              <div id="cell_11_11" class="cell size26 hd_closed" data-x="11" data-y="11"></div>
                              <div id="cell_12_11" class="cell size26 hd_closed" data-x="12" data-y="11"></div>
                              <div id="cell_13_11" class="cell size26 hd_closed" data-x="13" data-y="11"></div>
                              <div id="cell_14_11" class="cell size26 hd_closed" data-x="14" data-y="11"></div>
                              <div id="cell_15_11" class="cell size26 hd_closed" data-x="15" data-y="11"></div>
                              <div id="cell_16_11" class="cell size26 hd_closed" data-x="16" data-y="11"></div>
                              <div id="cell_17_11" class="cell size26 hd_closed" data-x="17" data-y="11"></div>
                              <div id="cell_18_11" class="cell size26 hd_closed" data-x="18" data-y="11"></div>
                              <div id="cell_19_11" class="cell size26 hd_closed" data-x="19" data-y="11"></div>
                              <div id="cell_20_11" class="cell size26 hd_closed" data-x="20" data-y="11"></div>
                              <div id="cell_21_11" class="cell size26 hd_closed" data-x="21" data-y="11"></div>
                              <div id="cell_22_11" class="cell size26 hd_closed" data-x="22" data-y="11"></div>
                              <div id="cell_23_11" class="cell size26 hd_closed" data-x="23" data-y="11"></div>
                              <div id="cell_24_11" class="cell size26 hd_closed" data-x="24" data-y="11"></div>
                              <div id="cell_25_11" class="cell size26 hd_closed" data-x="25" data-y="11"></div>
                              <div id="cell_26_11" class="cell size26 hd_closed" data-x="26" data-y="11"></div>
                              <div id="cell_27_11" class="cell size26 hd_closed" data-x="27" data-y="11"></div>
                              <div id="cell_28_11" class="cell size26 hd_closed" data-x="28" data-y="11"></div>
                              <div id="cell_29_11" class="cell size26 hd_closed" data-x="29" data-y="11"></div>
                              <div class="clear"></div>
                              <div id="cell_0_12" class="cell size26 hd_closed" data-x="0" data-y="12"></div>
                              <div id="cell_1_12" class="cell size26 hd_closed" data-x="1" data-y="12"></div>
                              <div id="cell_2_12" class="cell size26 hd_closed" data-x="2" data-y="12"></div>
                              <div id="cell_3_12" class="cell size26 hd_closed" data-x="3" data-y="12"></div>
                              <div id="cell_4_12" class="cell size26 hd_closed" data-x="4" data-y="12"></div>
                              <div id="cell_5_12" class="cell size26 hd_closed" data-x="5" data-y="12"></div>
                              <div id="cell_6_12" class="cell size26 hd_closed" data-x="6" data-y="12"></div>
                              <div id="cell_7_12" class="cell size26 hd_closed" data-x="7" data-y="12"></div>
                              <div id="cell_8_12" class="cell size26 hd_closed" data-x="8" data-y="12"></div>
                              <div id="cell_9_12" class="cell size26 hd_closed" data-x="9" data-y="12"></div>
                              <div id="cell_10_12" class="cell size26 hd_closed" data-x="10" data-y="12"></div>
                              <div id="cell_11_12" class="cell size26 hd_closed" data-x="11" data-y="12"></div>
                              <div id="cell_12_12" class="cell size26 hd_closed" data-x="12" data-y="12"></div>
                              <div id="cell_13_12" class="cell size26 hd_closed" data-x="13" data-y="12"></div>
                              <div id="cell_14_12" class="cell size26 hd_closed" data-x="14" data-y="12"></div>
                              <div id="cell_15_12" class="cell size26 hd_closed" data-x="15" data-y="12"></div>
                              <div id="cell_16_12" class="cell size26 hd_closed" data-x="16" data-y="12"></div>
                              <div id="cell_17_12" class="cell size26 hd_closed" data-x="17" data-y="12"></div>
                              <div id="cell_18_12" class="cell size26 hd_closed" data-x="18" data-y="12"></div>
                              <div id="cell_19_12" class="cell size26 hd_closed" data-x="19" data-y="12"></div>
                              <div id="cell_20_12" class="cell size26 hd_closed" data-x="20" data-y="12"></div>
                              <div id="cell_21_12" class="cell size26 hd_closed" data-x="21" data-y="12"></div>
                              <div id="cell_22_12" class="cell size26 hd_closed" data-x="22" data-y="12"></div>
                              <div id="cell_23_12" class="cell size26 hd_closed" data-x="23" data-y="12"></div>
                              <div id="cell_24_12" class="cell size26 hd_closed" data-x="24" data-y="12"></div>
                              <div id="cell_25_12" class="cell size26 hd_closed" data-x="25" data-y="12"></div>
                              <div id="cell_26_12" class="cell size26 hd_closed" data-x="26" data-y="12"></div>
                              <div id="cell_27_12" class="cell size26 hd_closed" data-x="27" data-y="12"></div>
                              <div id="cell_28_12" class="cell size26 hd_closed" data-x="28" data-y="12"></div>
                              <div id="cell_29_12" class="cell size26 hd_closed" data-x="29" data-y="12"></div>
                              <div class="clear"></div>
                              <div id="cell_0_13" class="cell size26 hd_closed" data-x="0" data-y="13"></div>
                              <div id="cell_1_13" class="cell size26 hd_closed" data-x="1" data-y="13"></div>
                              <div id="cell_2_13" class="cell size26 hd_closed" data-x="2" data-y="13"></div>
                              <div id="cell_3_13" class="cell size26 hd_closed" data-x="3" data-y="13"></div>
                              <div id="cell_4_13" class="cell size26 hd_closed" data-x="4" data-y="13"></div>
                              <div id="cell_5_13" class="cell size26 hd_closed" data-x="5" data-y="13"></div>
                              <div id="cell_6_13" class="cell size26 hd_closed" data-x="6" data-y="13"></div>
                              <div id="cell_7_13" class="cell size26 hd_closed" data-x="7" data-y="13"></div>
                              <div id="cell_8_13" class="cell size26 hd_closed" data-x="8" data-y="13"></div>
                              <div id="cell_9_13" class="cell size26 hd_closed" data-x="9" data-y="13"></div>
                              <div id="cell_10_13" class="cell size26 hd_closed" data-x="10" data-y="13"></div>
                              <div id="cell_11_13" class="cell size26 hd_closed" data-x="11" data-y="13"></div>
                              <div id="cell_12_13" class="cell size26 hd_closed" data-x="12" data-y="13"></div>
                              <div id="cell_13_13" class="cell size26 hd_closed" data-x="13" data-y="13"></div>
                              <div id="cell_14_13" class="cell size26 hd_closed" data-x="14" data-y="13"></div>
                              <div id="cell_15_13" class="cell size26 hd_closed" data-x="15" data-y="13"></div>
                              <div id="cell_16_13" class="cell size26 hd_closed" data-x="16" data-y="13"></div>
                              <div id="cell_17_13" class="cell size26 hd_closed" data-x="17" data-y="13"></div>
                              <div id="cell_18_13" class="cell size26 hd_closed" data-x="18" data-y="13"></div>
                              <div id="cell_19_13" class="cell size26 hd_closed" data-x="19" data-y="13"></div>
                              <div id="cell_20_13" class="cell size26 hd_closed" data-x="20" data-y="13"></div>
                              <div id="cell_21_13" class="cell size26 hd_closed" data-x="21" data-y="13"></div>
                              <div id="cell_22_13" class="cell size26 hd_closed" data-x="22" data-y="13"></div>
                              <div id="cell_23_13" class="cell size26 hd_closed" data-x="23" data-y="13"></div>
                              <div id="cell_24_13" class="cell size26 hd_closed" data-x="24" data-y="13"></div>
                              <div id="cell_25_13" class="cell size26 hd_closed" data-x="25" data-y="13"></div>
                              <div id="cell_26_13" class="cell size26 hd_closed" data-x="26" data-y="13"></div>
                              <div id="cell_27_13" class="cell size26 hd_closed" data-x="27" data-y="13"></div>
                              <div id="cell_28_13" class="cell size26 hd_closed" data-x="28" data-y="13"></div>
                              <div id="cell_29_13" class="cell size26 hd_closed" data-x="29" data-y="13"></div>
                              <div class="clear"></div>
                              <div id="cell_0_14" class="cell size26 hd_closed" data-x="0" data-y="14"></div>
                              <div id="cell_1_14" class="cell size26 hd_closed" data-x="1" data-y="14"></div>
                              <div id="cell_2_14" class="cell size26 hd_closed" data-x="2" data-y="14"></div>
                              <div id="cell_3_14" class="cell size26 hd_closed" data-x="3" data-y="14"></div>
                              <div id="cell_4_14" class="cell size26 hd_closed" data-x="4" data-y="14"></div>
                              <div id="cell_5_14" class="cell size26 hd_closed" data-x="5" data-y="14"></div>
                              <div id="cell_6_14" class="cell size26 hd_closed" data-x="6" data-y="14"></div>
                              <div id="cell_7_14" class="cell size26 hd_closed" data-x="7" data-y="14"></div>
                              <div id="cell_8_14" class="cell size26 hd_closed" data-x="8" data-y="14"></div>
                              <div id="cell_9_14" class="cell size26 hd_closed" data-x="9" data-y="14"></div>
                              <div id="cell_10_14" class="cell size26 hd_closed" data-x="10" data-y="14"></div>
                              <div id="cell_11_14" class="cell size26 hd_closed" data-x="11" data-y="14"></div>
                              <div id="cell_12_14" class="cell size26 hd_closed" data-x="12" data-y="14"></div>
                              <div id="cell_13_14" class="cell size26 hd_closed" data-x="13" data-y="14"></div>
                              <div id="cell_14_14" class="cell size26 hd_closed" data-x="14" data-y="14"></div>
                              <div id="cell_15_14" class="cell size26 hd_closed" data-x="15" data-y="14"></div>
                              <div id="cell_16_14" class="cell size26 hd_closed" data-x="16" data-y="14"></div>
                              <div id="cell_17_14" class="cell size26 hd_closed" data-x="17" data-y="14"></div>
                              <div id="cell_18_14" class="cell size26 hd_closed" data-x="18" data-y="14"></div>
                              <div id="cell_19_14" class="cell size26 hd_closed" data-x="19" data-y="14"></div>
                              <div id="cell_20_14" class="cell size26 hd_closed" data-x="20" data-y="14"></div>
                              <div id="cell_21_14" class="cell size26 hd_closed" data-x="21" data-y="14"></div>
                              <div id="cell_22_14" class="cell size26 hd_closed" data-x="22" data-y="14"></div>
                              <div id="cell_23_14" class="cell size26 hd_closed" data-x="23" data-y="14"></div>
                              <div id="cell_24_14" class="cell size26 hd_closed" data-x="24" data-y="14"></div>
                              <div id="cell_25_14" class="cell size26 hd_closed" data-x="25" data-y="14"></div>
                              <div id="cell_26_14" class="cell size26 hd_closed" data-x="26" data-y="14"></div>
                              <div id="cell_27_14" class="cell size26 hd_closed" data-x="27" data-y="14"></div>
                              <div id="cell_28_14" class="cell size26 hd_closed" data-x="28" data-y="14"></div>
                              <div id="cell_29_14" class="cell size26 hd_closed" data-x="29" data-y="14"></div>
                              <div class="clear"></div>
                              <div id="cell_0_15" class="cell size26 hd_closed" data-x="0" data-y="15"></div>
                              <div id="cell_1_15" class="cell size26 hd_closed" data-x="1" data-y="15"></div>
                              <div id="cell_2_15" class="cell size26 hd_closed" data-x="2" data-y="15"></div>
                              <div id="cell_3_15" class="cell size26 hd_closed" data-x="3" data-y="15"></div>
                              <div id="cell_4_15" class="cell size26 hd_closed" data-x="4" data-y="15"></div>
                              <div id="cell_5_15" class="cell size26 hd_closed" data-x="5" data-y="15"></div>
                              <div id="cell_6_15" class="cell size26 hd_closed" data-x="6" data-y="15"></div>
                              <div id="cell_7_15" class="cell size26 hd_closed" data-x="7" data-y="15"></div>
                              <div id="cell_8_15" class="cell size26 hd_closed" data-x="8" data-y="15"></div>
                              <div id="cell_9_15" class="cell size26 hd_closed" data-x="9" data-y="15"></div>
                              <div id="cell_10_15" class="cell size26 hd_closed" data-x="10" data-y="15"></div>
                              <div id="cell_11_15" class="cell size26 hd_closed" data-x="11" data-y="15"></div>
                              <div id="cell_12_15" class="cell size26 hd_closed" data-x="12" data-y="15"></div>
                              <div id="cell_13_15" class="cell size26 hd_closed" data-x="13" data-y="15"></div>
                              <div id="cell_14_15" class="cell size26 hd_closed" data-x="14" data-y="15"></div>
                              <div id="cell_15_15" class="cell size26 hd_closed" data-x="15" data-y="15"></div>
                              <div id="cell_16_15" class="cell size26 hd_closed" data-x="16" data-y="15"></div>
                              <div id="cell_17_15" class="cell size26 hd_closed" data-x="17" data-y="15"></div>
                              <div id="cell_18_15" class="cell size26 hd_closed" data-x="18" data-y="15"></div>
                              <div id="cell_19_15" class="cell size26 hd_closed" data-x="19" data-y="15"></div>
                              <div id="cell_20_15" class="cell size26 hd_closed" data-x="20" data-y="15"></div>
                              <div id="cell_21_15" class="cell size26 hd_closed" data-x="21" data-y="15"></div>
                              <div id="cell_22_15" class="cell size26 hd_closed" data-x="22" data-y="15"></div>
                              <div id="cell_23_15" class="cell size26 hd_closed" data-x="23" data-y="15"></div>
                              <div id="cell_24_15" class="cell size26 hd_closed" data-x="24" data-y="15"></div>
                              <div id="cell_25_15" class="cell size26 hd_closed" data-x="25" data-y="15"></div>
                              <div id="cell_26_15" class="cell size26 hd_closed" data-x="26" data-y="15"></div>
                              <div id="cell_27_15" class="cell size26 hd_closed" data-x="27" data-y="15"></div>
                              <div id="cell_28_15" class="cell size26 hd_closed" data-x="28" data-y="15"></div>
                              <div id="cell_29_15" class="cell size26 hd_closed" data-x="29" data-y="15"></div>
                              <div class="clear"></div>
                           </div>
                           <div class="hd_wrapper-border-vert wrapper-border-vert zoomable"
                              style="width: 19.5px; height: 416px;"></div>
                        </div>
                        <div id="replay_footer" class="zoomable" style="width: 819px; height: 17.875px;">
                           <div class="hd_wrapper-border-left-bottom wrapper-border-left-bottom zoomable"
                              style="width: 19.5px; height: 17.875px;"></div>
                           <div class="hd_wrapper-border-hor wrapper-border-hor zoomable"
                              style="width: 780px; height: 17.875px;"></div>
                           <div class="hd_wrapper-border-right-bottom wrapper-border-right-bottom zoomable"
                              style="width: 19.5px; height: 17.875px;"></div>
                        </div>
                        <div class="clearfix"></div>
                     </div>
                     <div class="wrapper-pavel-outside">
                        <div class="wrapper-pavel-inside" style="right: 30px;">
                           <div id="W6"><span id="hint_btn_wrapper"><a id="hint_btn" href="javascript:void(0)"
                                    class="btn btn-sm btn-default btn-hint" title="" data-original-title="Hint"><i
                                       class="fa fa-magic"></i></a></span>&nbsp;&nbsp;<button id="restart_btn"
                                 class="btn btn-sm btn-default btn-hint disabled" title=""
                                 data-original-title="Continue playing"><i
                                    class="fa fa-rotate-right"></i></button>&nbsp;&nbsp;<a id="edit_btn"
                                 href="javascript:void(0)" target="_blank"
                                 class="btn btn-sm btn-default btn-hint btn-paint" title=""
                                 data-original-title="Open in the editor"><i class="fa fa-edit"></i></a>&nbsp;&nbsp;<a
                                 id="screen_btn" href="javascript:void(0)" target="_blank"
                                 class="btn btn-sm btn-default btn-hint" title="" data-original-title="Screenshot"><i
                                    class="fa fa-camera-retro"></i></a></div>
                        </div>
                     </div>
                  </div>
               </td>
               <td>
                  <div id="result_relative_block" class="result-relative">
                     <div id="result_absolute_right_block" class="result-absolute"></div>
                  </div>
               </td>
            </tr>
         </tbody>
      </table>
      <div id="result_bottom_block" class="result-bottom-block">
         <div class="result-block hide">
            <div id="R35" class="result-block-2-column">
               <div>
                  <div class="pull-left">
                     <div>Time: <strong id="game_time"></strong> sec<br><br>
                        Clicks:<strong id="clicks"></strong> <br>
                     </div><br>
                     <div>Experience: +34<i class="glyphicon glyphicon-star exp-icon icon-right"></i><br></div>
                  </div>
                  <div class="clearfix"></div>
               </div>
            </div>
         </div>
      </div>
   </div>
   <%- include('layout_main_down.ejs',{mode:2}); %>