<!DOCTYPE html>
<html lang="en">

<head>
   <style>
      /*
        <%-stylesheet%> 
        */
   </style>
   <title>Minesweeper: <%-subtitle %></title>
   <link rel="image_src" href="/img/icons/og-image-300x300.png">
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
   <link href="//netdna.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
   <link rel="icon" type="image/png" href="/img/icons/favicon-32x32.png" sizes="32x32">
   <link rel="icon" type="image/png" href="/img/icons/android-chrome-192x192.png" sizes="192x192">
   <link rel="icon" type="image/png" href="/img/icons/favicon-96x96.png" sizes="96x96">
   <link rel="icon" type="image/png" href="/img/icons/favicon-16x16.png" sizes="16x16">
   <script type="text/javascript" async="" src="/js"></script>
   <script>var Env = { env: 'production', version: '455', lang: 'en', langPrefix: '', screenMode: false }; var module = {};</script>
</head>

<body class="yay-hide">
   <header id="header" class="header">
      <div class="navbar-desktop hidden-xs hidden-sm">
         <div class="container">
            <a class="brand-link pull-left" href="/">
               <img class="brand-logo pull-left" src="/minesweeper-online.svg" alt="Minesweeper Online">
               <div class="brand-text pull-left">Minesweeper</div>
            </a>
            <div class="auth-buttons pull-right">
               <% if(isLogin==false) { %>
                  <a href="/register">
                     <button type="button" class="btn btn-success auth-free">Register</button>
                  </a>
                  <a href="/login">
                     <button type=" button" class="btn btn-info auth-free">Log in</button>
                  </a>
                  <% }else {%>
                     <div class="btn-group auth-required">
                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown"
                           aria-expanded="fasle">
                           <i class="fa fa-user-circle"></i>
                           <span id="header_username"><%-username%></span>
                           <span class="caret"></span></button>
                        <ul class="dropdown-menu dropdown-menu-left">
                           <li>
                              <a href="/profile"><span class="fa fa-wrench"></span> Account</a>
                           </li>
                           <li>
                              <a href="/logout"><img src="/logout.png" height="18" width="18"> Log out</a>
                           </li>
                        </ul>
                     </div>
                     <% } %>
            </div>
         </div>
      </div>
      <nav class="navbar navbar-default hidden-md hidden-lg">
         <div class="container-fluid">
            <div class="navbar-header"><button type="button" class="navbar-toggle collapsed yay-toggle"><span
                     class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span></button> <a
                  class="navbar-brand" href="/">Minesweeper Online</a></div>
         </div>
      </nav>
   </header>
   <div class="yaybar yay-overlay yay-static yay-gestures yay-overlap-content">
      <div class="nano">
         <div class="nano-content">
            <ul>
               <li>
                  <a class="yay-sub-toggle"><i class="fa fa-th"></i> Standard mode<span
                        class="yay-collapse-icon fa fa-angle-down"></span></a>
                  <ul>
                     <li class="nav-menu-link link_new_game">
                        <a href="/new-game"><span class="fa fa-smile-o icon-menu"></span>New
                           game</a>
                     </li>
                     <li class="nav-menu-link link_ranking">
                        <a href="/ranking">
                           <span class="fa fa-th-list icon-menu"></span>Ranking</a>
                     </li>
                     <li class="nav-menu-link link_my_games">
                        <a href="/my-games">
                           <span class="fa fa-table icon-menu">
                           </span>My games</a>
                     </li>
                  </ul>
               </li>
               <li><a class="yay-sub-toggle"><i class="fa fa-graduation-cap"></i> No guessing mode
                     <span class="yay-collapse-icon fa fa-angle-down"></span></a>
                  <ul>
                     <li class="nav-menu-link link_new_game_ng"><a href="/new-game/ng"><span
                              class="fa fa-smile-o icon-menu"></span>New
                           game</a></li>
                     <li class="nav-menu-link link_ranking_ng"><a href="/ranking/ng"><span
                              class="fa fa-th-list icon-menu"></span>Ranking</a></li>
                     <li class="nav-menu-link link_my_games_ng"><a href="/my-games/ng"><span
                              class="fa fa-table icon-menu"></span>My games</a></li>
                  </ul>
               </li>
               <li><a class="yay-sub-toggle"><i class="fa fa-bar-chart"></i> Statistics<span
                        class="yay-collapse-icon fa fa-angle-down"></span></a>
                  <ul>
                     <li class="nav-menu-link link_best_players"><a href="/best-players"><span
                              class="fa fa-trophy icon-menu"></span>Best players</a></li>
                     <li class="nav-menu-link link_season_leaders"><a href="/season-leaders"><span
                              class="fa fa-trophy icon-menu"></span>Season leaders</a></li>
                     <li class="nav-menu-link link_players_online"><a href="/players-online"><span
                              class="glyphicon glyphicon-eye-open icon-menu"></span>Players online<span
                              class="menu_players_online">
                              (979)</span></a></li>
                     <li class="nav-menu-link link_news"><a href="/news"><span
                              class="fa fa-newspaper-o icon-menu"></span>News</a>
                     </li>
                     <li class="nav-menu-link link_statistics"><a href="/statistics"><span
                              class="fa fa-line-chart icon-menu"></span>Statistics</a></li>
                  </ul>
               </li>
               <li class="nav-menu-link link_quests"><a href="/quests"><i class="fa fa-map-signs icon-menu"></i>
                     Quests <span class="menu_quests_count">(9)</span></a></li>
               <li class="nav-menu-link link_arena"><a href="/arena"><i
                        class="glyphicon glyphicon-fire icon-menu icon-menu-up"></i> Arena <span
                        class="menu_arena_count"></span></a>
               </li>
               <li class="nav-menu-link link_equipment"><a href="/equipment"><i class="fa fa-cube icon-menu"></i>
                     Equipment</a></li>
               <li class="nav-menu-link link_market"><a href="/marketplace"><i class="fa fa-shopping-bag icon-menu"></i>
                     Marketplace<span class="menu_market_new"></span><span class="menu_exchange_not_viewed"></span></a>
               </li>
               <li class="nav-menu-link link_events"><a href="/events"><i class="fa fa-calendar icon-menu"></i>
                     Events<span class="menu_events_new"></span></a>
               </li>
               <li class="nav-menu-link link_my_profile profile-link" href="/player/3477102"><a
                     href="javascript:void(0);"><i class="glyphicon glyphicon-user icon-menu icon-menu-up"></i> My
                     profile</a></li>
               <li class="nav-menu-link link_chat"><a href="/chat"><i
                        class="glyphicon glyphicon-comment icon-menu icon-menu-up"></i> Chat <span
                        class="menu_chat_count">(100+)</span></a></li>
               <li class="nav-menu-link link_help"><a href="/help/gameplay"><i class="fa fa-book icon-menu"></i>Help</a>
               </li>
               <li class="nav-menu-link link_premium"><a href="/premium"><i class="fa fa-diamond icon-menu"></i>Premium
                     account</a></li>
               <li class="nav-menu-link link_shop"><a href="/shop"><i class="fa fa-shopping-cart icon-menu"></i>
                     Shop<span class="new_shop_mark"></span></a></li>
               <li class="nav-menu-link link_profile auth-required"><a href="/profile"><i
                        class="fa fa-wrench icon-menu"></i>Account</a></li>
               <li class="nav-menu-link link_logout auth-required"><a href="/logout"><i
                        class="glyphicon glyphicon-log-out icon-menu"></i> Log out</a></li>
               <li id="mobile-theme-switcher" class="hide"></li>
            </ul>
         </div>
      </div>
   </div>
   <div class="content-wrap">
      <div id="M27" class="maintenance-line">&nbsp;</div>
      <div class="container">
         <div class="main-content">
            <div>
               <div class="pull-left left-column hidden-xs hidden-sm">
                  <div class="sidebar-nav">
                     <!-- LEFT BAR -->
                     <ul>
                        <li>
                           <i class="fa fa-angle-double-right sub-nav-angle text-primary"></i><a href="/beginner"
                              class="menu-link link_new_game"><span>Beginner</span></a>
                        </li>
                        <li>
                           <i class="fa fa-angle-double-right sub-nav-angle text-primary"></i><a href="/intermediate"
                              class="menu-link link_new_game_ng"><span>Intermediate</span></a>
                        </li>
                        <li>
                           <i class="fa fa-angle-double-right sub-nav-angle text-primary"></i><a href="/expert"
                              class="menu-link link_new_game_ng"><span>Expert</span></a>
                        </li>
                        <li>
                           <i class="fa fa-angle-double-right sub-nav-angle text-primary"></i><a href="/custom"
                              class="menu-link link_new_game_ng"><span>Custom</span></a>
                        </li>
                        <li>
                           <i class="fa fa-angle-double-right sub-nav-angle text-primary"></i><a href="/ranking"
                              class="menu-link link_ranking link_ranking_ng"><span>Ranking</span></a>
                        </li>
                        <li>
                           <i class="fa fa-angle-double-right sub-nav-angle text-primary"></i><a href="/my-games/beginner/1"
                              class="menu-link link_my_games link_my_games_ng"><span>My games</span></a>
                        </li>
                     </ul>
                     <ul>
                        <li>
                           <i class="fa fa-angle-double-right sub-nav-angle text-success"></i><a href="/best-players"
                              class="menu-link link_best_players"><span>Best
                                 players</span></a>
                        </li>
                        <li>
                           <i class="fa fa-angle-double-right sub-nav-angle text-success"></i><a href="/season-leaders"
                              class="menu-link link_season_leaders"><span>Season
                                 leaders</span></a>
                        </li>
                     </ul>
                     <ul>
                        <li><i class="fa fa-angle-double-right sub-nav-angle text-danger"></i><a href="/quests"
                              class="menu-link link_quests"><span>Quests <span
                                    class="menu_quests_count">(9)</span></span></a></li>
                        <li><i class="fa fa-angle-double-right sub-nav-angle text-danger"></i><a
                              href="/arena"><span>Arena</span></a><span class="menu_arena_new"></span>
                        </li>
                        <li><i class="fa fa-angle-double-right sub-nav-angle text-danger"></i><a href="/equipment"
                              class="menu-link link_equipment"><span>Equipment</span></a></li>
                        <li><i class="fa fa-angle-double-right sub-nav-angle text-danger"></i><a href="/marketplace"
                              class="menu-link link_market"><span>Marketplace<span class="menu_market_new"></span><span
                                    class="menu_exchange_not_viewed"></span></span></a></li>
                        <li><i class="fa fa-angle-double-right sub-nav-angle text-danger"></i><a href="/events"
                              class="menu-link link_events"><span>Events</span><span class="menu_events_new"></span></a>
                        </li>
                     </ul>
                     <ul>
                        <li><i class="fa fa-angle-double-right sub-nav-angle"></i><a href="/players-online"
                              class="menu-link link_players_online"><span>Players
                                 online</span><span class="menu_players_online">
                                 (979)</span></a></li>
                        <li><i class="fa fa-angle-double-right sub-nav-angle"></i><a href="/news"
                              class="menu-link link_news"><span>News</span></a>
                        </li>
                        <li><i class="fa fa-angle-double-right sub-nav-angle"></i><a href="/statistics"
                              class="menu-link link_statistics"><span>Statistics</span></a></li>
                        <li><i class="fa fa-angle-double-right sub-nav-angle"></i><a href="/player/3477102"
                              class="menu-link profile-link link_my_profile"><span>My profile</span></a></li>
                     </ul>
                     <ul>
                        <li><i class="fa fa-angle-double-right sub-nav-angle"></i><a href="/chat"
                              class="menu-link link_chat"><span>Chat <span
                                    class="menu_chat_count">(100+)</span></span></a></li>
                        <li><i class="fa fa-angle-double-right sub-nav-angle"></i><a href="/help/gameplay"
                              class="menu-link link_help"><span>Help</span></a>
                        </li>
                        <li><i class="fa fa-angle-double-right sub-nav-angle"></i><a href="/premium"
                              class="menu-link link_premium"><span>Premium
                                 account</span></a></li>
                        <li><i class="fa fa-angle-double-right sub-nav-angle"></i><a href="/shop"
                              class="menu-link link_shop"><span>Shop<span class="new_shop_mark"></span></span></a></li>
                     </ul>
                  </div>
               </div>
               <div class="pull-left main-column">
                  <div id="main_page" class="main-page">
                     <div id="homepage">
                        <!-- MAIN CONTENT -->
                        <!-- END MAIN CONTENT -->