<%- include('../layout_main_up.ejs'); %>
   <div class="page-block" id="H22" style="display: block;">
      <h1><i class="fa fa-book"></i> Gameplay</h1>
      <hr>
      <table class="help-table">
         <tbody>
            <tr>
               <%- include('left.ejs');%>
               <td class="help-table-middle-column hidden-xs help-menu"></td>
               <td id="help_content" class="help-table-right-column help-content">
                  <h3>Rules</h3>
                  <p>
                     The board is divided into cells, with mines randomly distributed. To win, you need to open all the
                     cells. The number on a cell shows the number of mines adjacent to it. Using this information, you
                     can determine cells that are safe, and cells that contain mines. Cells suspected of being mines can
                     be marked with a flag using the right mouse button.
                  </p>
                  <p>
                     To start a new game, you can click on the happy face at the top of the board or use the space bar.
                     The remaining number of mines is displayed in the left corner, and the game timer is displayed in
                     the right corner.
                  </p>
                  <h3>Chording</h3>
                  <p>
                     When a number has the correct amount of flags, you can click on the number to open all the cells
                     around it. This is called a chord because in older versions it required pressing two buttons, left
                     + right, at the same time (can be changed in&nbsp;<a href="/settings">settings</a>). Using chords
                     greatly reduces unnecessary clicks, and is the foundation of&nbsp;<a
                        href="/help/efficiency">efficient</a>&nbsp;gameplay.
                  </p>
                  <h3>No flags (NF)</h3>
                  <p>
                     NF is a style of playing that does not use flags. A game is won when all non-mine cells are
                     revealed whether the mines are flagged or not. NF players use this to reduce the number of clicks
                     needed to complete a board.
                  </p>

               </td>
            </tr>
         </tbody>
      </table>
   </div>
   <%- include('../layout_main_down.ejs',{mode:-1}); %>