<%- include('../layout_main_up.ejs'); %>
   <div class="page-block" id="H22" style="display: block;">
      <h1><i class="fa fa-book"></i> Ranks</h1>
      <hr>
      <table class="help-table">
         <tbody>
            <tr>
               <%-include('left.ejs');%>
                  <td class="help-table-middle-column hidden-xs help-menu"></td>
                  <td id="help_content" class="help-table-right-column help-content">
                     <div id="R42">
                        <p>
                           <b>Rank</b>&nbsp;represents the player's position within the hierarchy of players. The higher
                           the rank, the higher arena tickets the player can find, and the higher quests the player can
                           receive. To get a new rank you have to earn a certain amount of&nbsp;<a
                              href="/help/trophies">trophies</a>:
                        </p>
                        <div id="help_ranks">
                           <table class="table table-bordered width-auto">
                              <thead>
                                 <tr>
                                    <th class="text-center">Trophies<br>required</th>
                                    <th class="text-center">Rank</th>
                                    <th class="text-center">Arena</th>
                                    <th class="text-center">Quests</th>
                                    <th class="text-center">Players</th>
                                 </tr>
                              </thead>
                              <tbody id="ranks_table_body">
                                 <tr>
                                    <td><a class="black-link no-underline text-nowrap" href="/help/trophies">1<i
                                             class="fa fa-trophy score-icon  icon-small icon-right"></i></a></td>
                                    <td>Rookie</td>
                                    <td rowspan="1">L1</td>
                                    <td>L1</td>
                                    <td>4 440 617</td>
                                 </tr>
                                 <tr>
                                    <td><a class="black-link no-underline text-nowrap" href="/help/trophies">100<i
                                             class="fa fa-trophy score-icon  icon-small icon-right"></i></a></td>
                                    <td>Private</td>
                                    <td rowspan="1">L1-2</td>
                                    <td>L1-2</td>
                                    <td>340 913</td>
                                 </tr>
                                 <tr>
                                    <td><a class="black-link no-underline text-nowrap" href="/help/trophies">200<i
                                             class="fa fa-trophy score-icon  icon-small icon-right"></i></a></td>
                                    <td>Sergeant</td>
                                    <td rowspan="1">L1-3</td>
                                    <td>L2-3</td>
                                    <td>68 066</td>
                                 </tr>
                                 <tr>
                                    <td><a class="black-link no-underline text-nowrap" href="/help/trophies">300<i
                                             class="fa fa-trophy score-icon  icon-small icon-right"></i></a></td>
                                    <td>Lieutenant</td>
                                    <td rowspan="1">L1-4</td>
                                    <td>L2-4</td>
                                    <td>18 628</td>
                                 </tr>
                                 <tr>
                                    <td><a class="black-link no-underline text-nowrap" href="/help/trophies">400<i
                                             class="fa fa-trophy score-icon  icon-small icon-right"></i></a></td>
                                    <td>Captain</td>
                                    <td rowspan="1">L1-5</td>
                                    <td>L3-5</td>
                                    <td>8 609</td>
                                 </tr>
                                 <tr>
                                    <td><a class="black-link no-underline text-nowrap" href="/help/trophies">500<i
                                             class="fa fa-trophy score-icon  icon-small icon-right"></i></a></td>
                                    <td>Major</td>
                                    <td rowspan="1">L1-6</td>
                                    <td>L3-6</td>
                                    <td>5 784</td>
                                 </tr>
                                 <tr>
                                    <td><a class="black-link no-underline text-nowrap" href="/help/trophies">600<i
                                             class="fa fa-trophy score-icon  icon-small icon-right"></i></a></td>
                                    <td>Colonel</td>
                                    <td rowspan="1">L1-7</td>
                                    <td>L4-7</td>
                                    <td>4 051</td>
                                 </tr>
                                 <tr>
                                    <td><a class="black-link no-underline text-nowrap" href="/help/trophies">700<i
                                             class="fa fa-trophy score-icon  icon-small icon-right"></i></a></td>
                                    <td>Brigadier General</td>
                                    <td rowspan="5">L1-8</td>
                                    <td>L4-8</td>
                                    <td>2 589</td>
                                 </tr>
                                 <tr>
                                    <td><a class="black-link no-underline text-nowrap" href="/help/trophies">800<i
                                             class="fa fa-trophy score-icon  icon-small icon-right"></i></a></td>
                                    <td>Major General</td>
                                    <td>L5-9</td>
                                    <td>1 408</td>
                                 </tr>
                                 <tr>
                                    <td><a class="black-link no-underline text-nowrap" href="/help/trophies">900<i
                                             class="fa fa-trophy score-icon  icon-small icon-right"></i></a></td>
                                    <td>Lieutenant General</td>
                                    <td>L5-10</td>
                                    <td>606</td>
                                 </tr>
                                 <tr>
                                    <td><a class="black-link no-underline text-nowrap" href="/help/trophies">1000<i
                                             class="fa fa-trophy score-icon  icon-small icon-right"></i></a></td>
                                    <td>General of the Army</td>
                                    <td>L6-11</td>
                                    <td>262</td>
                                 </tr>
                                 <tr>
                                    <td><a class="black-link no-underline text-nowrap" href="/help/trophies">1100<i
                                             class="fa fa-trophy score-icon  icon-small icon-right"></i></a></td>
                                    <td>
                                       Field Marshal</td>
                                    <td>L6-12</td>
                                    <td>59</td>
                                 </tr>
                              </tbody>
                           </table>
                        </div>
                     </div>
                  </td>
            </tr>
         </tbody>
      </table>
   </div>
   <%- include('../layout_main_down.ejs',{mode:1}); %>